#include <windows.h>

LPCTSTR id = "XXXX";
LPCTSTR pwd = "YYYY";
LPCTSTR certPwd = "";

HWND hWnd;
MSG msg;

BOOL Initialization();
BOOL ProcessWindowMessage();
HWND CreateMessageWindow();
LRESULT CALLBACK WindowProc(HWND hWnd, UINT uMsg, WPARAM wParam, LPARAM lParam);
void CheckAccountFunctions();